* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 1;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  margin: 0 10px;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.5s linear;
}

.navigation li:hover a {
  color: #3497bc;
}

.logo img {
  width: 70px;
  height: 70px;
}

.search {
  position: relative;
  width: 300px;
  height: 40px;
}

.search input {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: transparent;
  border: 1px solid rgba(255, 255, 2555, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 45px;
  backdrop-filter: blur(10px);
}

.search input::placeholder {
  color: #fff;
}

.search .bx-search-alt-2 {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  padding-right: 10px;
  color: #fff;
  border-right: 1px solid #fff;

}

/*  */
.slider {
  /* position: relative; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000D65;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  /* padding: 20px; */
  z-index: -1;
}

/* .wrapper {
    width: 300px;
    height: 350px;
} */

.swiper-wrapper .wrapper img {
  border-radius: 5px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.swiper-button-next {
  margin: 5px auto;
  right: 0;
}

.swiper-button-prev {
  margin: 4px auto;
  left: 0;
}

.swiper-pagination {
  top: 15px;
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}